name: Bandit

# skip CKV2_GHA_1 for this workflow
on: # checkov:skip=CKV2_GHA_1 "Required for Bandit Code Scanning API"
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Perform Bandit Analysis
        uses: PyCQA/bandit-action@v1
